* {font-family: Arial, Helvetica, sans-serif;}
header {
    background-color: #13315C;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
}
nav {
    background-color: 	#134074;
    padding: 10px;
    text-align: center;
}
nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}
main {
    padding: 20px;
    font-family: Arial, sans-serif;
}
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
    text-align: center;
}
    
.div1 {
    grid-row: span 5 / span 5;
    border: #8DA9C4 2px solid;
    border-radius: 8px;
}

.div2 {
    grid-row: span 5 / span 5;
    grid-column-start: 5;
    grid-row-start: 1;
    border: #8DA9C4 2px solid;
    border-radius: 8px;
}

.div3 {
    grid-column: span 3 / span 3;
    grid-row: span 5 / span 5;
    grid-column-start: 2;
    grid-row-start: 1;
    border: #8DA9C4 2px solid;
    border-radius: 8px;
}
        